# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Luigi Pertoldi
  email = luigi.pertoldi@protonmail.com
[push]
  default = simple

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
	ui = true
  pager = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
