configuration {
    modi: "window,run,ssh,drun";
    lines: 20;
    font: "Fira Code 10";
    terminal: "kitty";
    run-command: "{cmd}";
    ssh-command: "{terminal} -e {ssh-client} -F /home/pertoldi/.ssh/config.linux {host}";
    case-sensitive: false;
    matching: "fuzzy";
    dpi: 192;
}

@theme "gruvbox-dark"
